body {
    
    color: #fff;
    font-family: 'Nunito semibold';
    text-align: center;
}
#content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: minmax(150px,auto);
    grid-gap: 10px;
    max-width: 960px;
    margin: 0 auto;
    
   
    
}
#content div {
    background-color: #3bbced;
    padding: 30px;

}
#content div:nth-child(even){
    background-color: #777;
}